@font-face {
      font-family: "Bitstream Vera Serif Bold";
      src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
    }
@font-face{
font-family:"Avenir LT W01 45 Book";
src:url("http://fast.fonts.com/d/939cba03-5b40-4d01-9bc5-7589eca863db.woff?d44f19a684109620e4841470a790e818d8cc0dc2f4fbc17a43f9822fc140c9655d472896946d5d5626a3e0acbac5fc7b4de4f4adc740dfb90df84295f8f8b71d696b14a1eb8fc3a55d6e04024ea954e9dd2df28ea1680dc3dad6&projectId=eb6270bd-a7c3-4217-bc80-94ace2d1fb85") format('woff');
}


#background1
{
	background-image: url('design/316.jpg');
	background-size: cover;
	/*background-color: blue;*/
	min-height: 680px;
	
	margin-top:0px; 
	
	
}
#format{
	margin-bottom: 0px;
}
#background2
{
	background-color:white;
	
	/*min-height: 680px;*/
	margin-right: 0;
	margin-left: 0;
	padding:0; 
	
}
#repCase{
  
  width: 200px;
  height:200px;
  border-radius: 30%;

}
#jer
{
	padding-top: 15%;
	padding-left: 5%;
	color: white;
	font-family:'Bitstream Vera Serif Bold';
}

.mob
{
	padding-top: 15%;
	padding-left: 5%;
	color: black;
	font-family:'Bitstream Vera Serif Bold';

}




img
{
	margin: -5px 50px 30px 30px;
	width: 55%;
}

.imgabout
{
	width:30%;
	margin: 0.5px 10px 40px 40px;
}

.imgabout2
{
	width:30%;
	margin: 0.5px 10px 40px 60px;
}

.imgmob
{
	width:80%;
}

.imgaboutmob
{
	width:30%;
	margin: 
}

.ent
{
	color: white;
	font-family:'Bitstream Vera Serif Bold';
	margin:-15px 100px 1px 203px;
}

.myfont
{
	color: black;
	font-family:'Bitstream Vera Serif Bold';
	font-size: 45px;
}

.favquote
{
	color: black;
	font-family:'Bitstream Vera Serif Bold';
	font-size: 25px;
}

#fer
{
	color:black;
	font-family: 'Avenir LT W01 45 Book';
	text-rendering: optimizeLegibility;
	line-height: 1.6;
	margin-bottom: 1.25em;
	display: block;
	/*width: 538px; //(768px - width of sidebar)
    margin: 0 auto 0 230px;*/
}

#background3
{
	background-image: url("design/background01.jpg");
	background-size: cover;
	height: 600px;
	/*; //(768px - width of sidebar)*/
    /*margin: 0 auto 0 230px;*/
}

.contactfont
{
	color: white;
	font-family:'Bitstream Vera Serif Bold';
	font-size: 45px;
}

.contactgray
{
	width: 30%;
	margin: ;
}