/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');
@font-face {
  font-family: "Bitstream Vera Serif Bold";
  src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
}
@font-face{
  font-family:"Avenir LT W01 45 Book";
  src:url("http://fast.fonts.com/d/939cba03-5b40-4d01-9bc5-7589eca863db.woff?d44f19a684109620e4841470a790e818d8cc0dc2f4fbc17a43f9822fc140c9655d472896946d5d5626a3e0acbac5fc7b4de4f4adc740dfb90df84295f8f8b71d696b14a1eb8fc3a55d6e04024ea954e9dd2df28ea1680dc3dad6&projectId=eb6270bd-a7c3-4217-bc80-94ace2d1fb85") format('woff');
}

body {
  background-color: #f2f2f2;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  line-height: 1.6em;
  /*-webkit-font-smoothing: antialiased;*/
  /*-webkit-overflow-scrolling: touch;*/
  /*overflow-x: hidden; */
}

#padcontact
{
  margin-top: 80px;
}


.about-block{
  padding: 74px 0px 123px 0px;
}

.quote{
  color: #fff;
}

.quote-container{
  margin: 10px 0px 40px 0px;
  padding: 15px;  
  background-color: #000;
  opacity: 0.9;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #444;
}
/* Various Tweaks*/
#eman
{
  width:30em;
}

.linebaby
{
  line-height: 1.45;
}

.line
{
  width:55%;
  /*margin: 1px 1px 0px 250px;*/
}
.bg2
{

  font-family: "Avenir LT W01 45 Book";
  font-size: 20px;
}
.nuline
{
  width:30%;
  /*margin: 0px 1px 80px 440px;*/
}


.mob
{
  width: 50%;
  margin: 1px 2px 60px 110px;
}
.bg2font
{
  font-family: "Avenir LT W01 45 Book";
  font-size: 20px;
  width: 700px;
  line-height: 1.8em;
  color: whitesmoke;
  font-weight: 100;

}

.nufont
{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: white;
  padding: 20px 20px 50px 20px;
}

.myfont
{
  color: black;
  font-family: "Avenir LT W01 45 Book";
  font-size: 20px;
  font-weight: 300;
}


.trans
{color:transparent;}

#bgcontact
{
 /*background: url(../img/final.gif);*/
 /*background-size: cover;*/
 min-height: 550px;
 margin-left: 0px;
 margin-right: 0px;
 width: 100%;
}
ul
{
  list-style: none;
}
.twitter
{
  width: 8%;
  height: 8%;
}
.instagram
{
  width:5.5%;
  height: 5.5%;
}
.plus
{
  width:5.5%;
  height:5.5%
}

.email
{
  width: 7%;
  height: 7%;
}

a.li
{
  color:black;
}

.nubg
{
  background-image: url(../img/Grey-desktop-wallpaper-met-green-spot.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 9px;
  width: 100%;
}

.mobline
{
  width:50%
  margin:;
}


/*End of Tweaks*/

h2{
  font-size: 30px;
  color: white;
  margin: 10px 20px 50px 60px;
  width: 450px;
}

/*h1 {
	font-size: 40px;
  }*/

  h3 {
   font-weight: 400;
 }

 h4 {
   font-weight: 400;
   font-size: 20px;
 }

 p {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: "Avenir LT W01 45 Book";

}


a {
  color: #d6ee18;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #b7cb1b;
  text-decoration: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
.navbar-inverse .navbar-nav > li > a {
  color: #c6d550;
}

.alignleft {
  text-align: left;
}
.alignright {
  text-align: right;
}

.aligncenter {
  text-align: center;
}

.btn-theme  {
  color: #fff;
  background-color: #fd680e;
  border-color: #fd680e;
}
.btn-theme:hover  {
  color: #fff;
  background-color: #444;
  border-color: #444;
}
form.signup {
	margin-top: 30px;
}
form.signup button.btn {
	text-transform: uppercase;
	font-weight: 700;
}
form.signup input.form-control:focus {
	border-color: #fd680e;
}


/* Nav */

a.navbar-brand {
	color: #fff !important;
	font-weight: 900;
	text-transform: uppercase;
}
a.navbar-brand:hover {
  color: #ddd !important;
}

/* Header */

#header {	
	background-color: #444;
	background: url(../img/main-bg.jpg) no-repeat center top;
	margin-top: -20px;
	padding-top: 150px;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	/*max-width:100%;*/
	
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



#header h1 {
	margin-top: 60px;
	margin-bottom: 15px;
	color:#c6d550;
	font-size: 40px;
	font-weight: 900;
	letter-spacing: -1px;
}

h2.subtitle {
	color: #fff;
	font-size: 20px;
}

/* slide */
.carousel-indicators {
  position: absolute;
  bottom: -40px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -50%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #b7cb1b;
}

/* footer */
#footer {
	background: #000000;
	padding: 20px 0 5px;
}

p.copyright {
	color: #fff;
	text-align: center;
}	


/*MEDIA QUERIES*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){

.circleborder {
width: 300px;
height: 300px;
border-radius: 150px;
-webkit-border-radius: 150px;
-moz-border-radius: 150px;
background: url(../img/330.png) no-repeat;
box-shadow: 0 0 8px rgba(0, 0, 0, .8);
-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

}